<h2>Courses available</h2>
<p><%= link_to "All courses as PDF", courses_url(:format => :pdf) %></p>


<ul>
<% @course_categories.each do |course_category| %>  
  <h3><%= course_category.name %></h3>
  <% course_category.courses.each do |course| %>
    <li><%= link_to course.name, course %></li>
  <% end %>
<% end %>
</ul>
